services:
  localstack:
    image: localstack/localstack
    ports:
      - "4566:4566"
      - "4510-4559:4510-4559"
    environment:
      - SERVICES=s3,dynamodb,ecr,iam,ssm,secretsmanager,sts,cloudformation,s3control
      - DEBUG=1
    volumes:
      - "./localstack:/var/lib/localstack"
  
  # Run local registry of docker (for lockalstack)
  registry:
    image: registry:2
    container_name: registry
    ports:
      - "5000:5000"
    restart: always
