version: '3.8'

services:
  api-prod:
    build:
      context: .
      dockerfile: dockerfile
      target: production
    ports:
      - "3001:3000"
    environment:
      - NODE_ENV=production
      - PORT=3000
